{% extends 'base.html' %} {% block content %}

<h3>Classroom List</h3>

<li><a class="btn blue" href="{% url 'classroom_create' %}">Register a New Classroom</a></li>

{% for classroom in object_list %}
    <a href="{% url 'classroom_detail' classroom.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ classroom.school_name }}</span>
            <p>School: {{ classroom.school_name }}</p>
            <p>Teacher: {{ classroom.teacher_name }}</p>
            <p>Grade: {{ classroom.get_grade_display }}</p>
        </div>
    </div>
    </a>
{% endfor %}

{% endblock %}