{% extends 'base.html' %} {% block content %}

<div class="class-detail">
    <h3 class="detail-title">{{ classroom.teacher_name.title }}'s {{ classroom.get_grade_display }} Class </h3>
    <h3 class="detail-title">Item Detail</h3>
    <div class="row">
        <div class="card">
            <h4>{{ item.name }}</h4>
            <h4>Amount: {{ item.amount }}</h4>
            <img src="{{ item.thumbnail }}" alt=" {{ item.name }}">
            <h4>Notes: {{ item.notes }}</h4>
            {% if user.is_authenticated and user == classroom.user %}
                <div class="card-action">
                    <a href="{% url 'item_update' item.id %}">Edit</a>
                    <a class="red-text" href="{% url 'item_delete' item.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
    </div>   
</div> 

{% endblock %}