{% extends 'base.html' %} {% block content %}

<h3>Item Details
    {{ classroom.teacher_name }}
    {{ classroom.grade }}
</h3>

<div class="row">
    <div class="card">
        <h4>{{ item.name }}</h4>
        <h4>Amount: {{ item.amount }}</h4>
        <img src="{{ item.thumbnail }}" alt=" {{ item.name }}">
        <h4>Notes: {{ item.notes }}</h4>
        <a href="{% url 'item_delete' item.id %}">Delete</a>
        <a href="{% url 'item_update' item.id %}">Update</a>
    </div>
</div>   
  

{% endblock %}