{% extends 'base.html' %}
{% block content %}

<div class="About-App">
    <h4>About the App</h4>
    <div class="About">
        <p><b>supplylab</b> is a free app that bridges the school supply gap between teachers and suppliers.</p>
        <p>Are you an educator stretching last year’s materials another calendar year? Or a local business looking to offload your excess supply of highlighters or pocket folders?</p>
        <p>supplylab gives donors a direct channel to schoolteachers around the country looking for materials to stock their K-12 classrooms.</p>
        <h5>For Teachers</h5>
        <p>With just a tap on their phone, individual teachers can create and edit a custom wishlist for each classroom they manage, whether it is art or algebra. The wishlist items become public and searchable to supplylab users, who can ship the donation directly to the school. Teachers can enter desired quantity of items and any notes or other details about the item.</p>
        <h5>For Donors</h5>
        <p>Each year, teachers spend an estimated $750 of their own money on materials for their classroom. You can decrease that number — and reduce the amount of trash that ends up in a landfill — by donating your excess office or art supplies to a deserving school near you.</p>
        <p>Donate to a local school that your child attends, or a school that recently suffered a loss or environmental disaster. Potential donors can search by school name, state, district, grade, and teacher name.</p>
    </div>
</div>
<div class="About-Devs">
    <h4>About the Developers</h4>
        <ul>
            <li>
                <h5>Diana Barney</h5>
                <a href="https://www.linkedin.com/in/diana-barney-948b9063/" class="diana-li" target="_blank">LinkedIn</a>
                <a href="https://github.com/ReticentPixie" class="diana-git" target="_blank">GitHub</a>
            </li>
            <li>
                <h5>Ashley Swank</h5>
                <a href="https://www.linkedin.com/in/ashley-swank-019509213/" class="ashley-li" target="_blank">LinkedIn</a>
                <a href="https://github.com/alengysia" class="ashley-git" target="_blank">GitHub</a>
            </li>
            <li>
                <h5>Katie Packard-Henderson</h5>
                <a href="https://www.linkedin.com/in/katie-packard-henderson-5a97a814/" class="katie-li" target="_blank">LinkedIn</a>
                <a href="https://github.com/kepackard" class="katie-git" target="_blank">GitHub</a>
            </li>
        </ul>
</div>
    
{% endblock %}